@media screen {
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
div {
  margin: 10px 0 0 0;
}

section {
  display: inline-flex;
}

strong.highlight {
  font-size: x-large;
}
footer {
  font-size: 11px;
  font-family: "PT Mono", monospace;
  text-align: center;
  margin-top: 10px;
  opacity: 0.6;
}
.container {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 60%;
  color: #daddfc;
  background-color: #396eb0;
  border: 1px solid #a2a8d3;
  border-radius: 4px;
  box-shadow: 1px 2px 5px #2e4c6d;
  max-width: 435px;
  padding: 10px;
}
.searchbar {
  display: inline;
  width: 63%;
  padding: 6px 0 6px 6px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #a2a8d3;
  border-radius: 0.25rem;
  box-shadow: 1px 2px 4px #a08c8c;
  margin-right: 5px;
  margin-left: 1%;
}
.searchbutton {
  padding: 9px 0 9px 1px;
  font-size: 13px;
  font-weight: 400;
  background-color: #7c73e6;
  color: #fff;
  border: 1px solid #523ff5;
  border-radius: 4px;
  box-shadow: 1px 2px 4px #a08c8c;
  transition: all 150ms ease-in-out;
  width: 15%;
}
.searchbutton:hover {
  padding: 9px 0 9px 1px;
  font-size: 13px;
  font-weight: 400;
  background-color: #c4c1e0;
  color: #000000;
  border: 1px solid #7c73e6;
  box-shadow: 1px 2px 4px #a08c8c;
  border-radius: 4px;
}
.currentbutton {
  padding: 9px 0 9px 1px;
  font-size: 13px;
  font-weight: 400;
  background-color: #f7b660;
  color: #fff;
  border: 1px solid #f3c78c;
  border-radius: 4px;
  box-shadow: 1px 2px 4px #a08c8c;
  transition: all 150ms ease-in-out;
  width: 15%;
}
.currentbutton:hover {
  padding: 9px 0 9px 1px;
  font-size: 13px;
  font-weight: 400;
  background-color: #f3c78c;
  color: #000000;
  border: 1px solid #f7b660;
  box-shadow: 1px 2px 4px #a08c8c;
  border-radius: 4px;
}
.celsius {
  padding: 6px 4px;
  margin-right: 5px;
  margin-left: 1%;
  width: 10%;
  background-color: #fc997c;
  color: #fafafa;
  border: 1px solid #6b2b01;
  border-radius: 4px;
  box-shadow: 1px 2px 3px grey;
  transition: all 150ms ease-in-out;
  margin-bottom: -10px;
}
.celsius:hover {
  padding: 6px 4px;
  margin-right: 5px;
  margin-left: 1%;
  width: 10%;
  background-color: #ffbf94;
  color: #000000;
  border: 1px solid #6b2b01;
  box-shadow: 1px 2px 3px grey;
  border-radius: 4px;
  margin-bottom: -10px;
}
.farenheit {
  padding: 6px 4px;
  margin-right: 5px;
  width: 10%;
  background-color: #fc997c;
  color: #fafafa;
  border: 1px solid #6b2b01;
  border-radius: 4px;
  box-shadow: 1px 2px 3px grey;
  transition: all 150ms ease-in-out;
  margin-bottom: -10px;
}
.farenheit:hover {
  padding: 6px 4px;
  margin-right: 5px;
  width: 10%;
  background-color: #ffbf94;
  color: #000000;
  border: 1px solid #6b2b01;
  box-shadow: 1px 2px 3px grey;
  border-radius: 4px;
  margin-bottom: -10px;
}
.active {
  padding: 6px 4px;
  margin-right: 5px;
  width: 10%;
  background-color: #fafafa;
  color: #6b2b01;
  font-size: bolder;
  border: 1px solid #db5902;
  box-shadow: 1px 2px 3px grey;
  border-radius: 4px;
  margin-bottom: -10px;
}
.firstgradeinfo {
  margin-left: 10px;
}
#city {
  text-transform: capitalize;
}
.smaller {
  font-size: small;
  opacity: 0.7;
}
.positionInfo {
  width: 35%;
  position: relative;
  top: -20px;
}
.temperature {
  text-align: center;
  margin-left: 25px;
  width: 20%;
}
.todaytemperature {
  position: relative;
  top: -10px;
  font-size: 35px;
}
.averagetemperature {
  position: relative;
  top: -10px;
  font-size: 15px;
  font-family: "PT Mono", monospace;
}
.todayicon {
  position: relative;
  font-size: 50px;
  left: 20px;
  top: 35px;
  width: 15%;
  margin-top: -50px;
}
#average-temperature-bold {
  font-weight: bold;
}
#littlecontainer {
  display: inline-flex;
  color: #321891;
  background-color: #95d1cc;
  border: 1px solid #273f5a;
  box-shadow: 1px 2px 5px #daddfc;
  border-radius: 4px;
  padding: 5px 8px;
  text-align: center;
  margin-left: 0.6%;
  width: 19.2%;
  margin-bottom: -5px;
}
.spacing {
  margin-top: -20px;
}
#spacing {
  display: block;
  margin: 10px 1%;
}
#icon {
  width: 50px;
  margin: -10px 0;
}
